
{% assign cart_amount = cart.total_price | money_without_currency %}
{% assign re_free_shipping_amount = section.settings.product_free_shipping | minus: cart_amount %}
{% if re_free_shipping_amount > 0 %}
    {% assign progress_bar_percentage = cart_amount | divided_by: section.settings.product_free_shipping %}
    {% assign total_progress_bar_percentage = progress_bar_percentage | times: 100 %}
        
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p class="remaining_amount">You are <strong class="price_away">$
            {% if cart_amount == "0.00" %}
                {{ section.settings.product_free_shipping }}
            {% else %}
                {% assign price_away = section.settings.product_free_shipping | minus: cart_amount %}
                {{ price_away }}
            {% endif %}
            </strong> away from FREE Shipping</p>
          
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:{{ total_progress_bar_percentage }}%">
                {{ total_progress_bar_percentage }}% Completed
              </div>
            </div>
                    
        </div>
        {% else %}
            <div>
                <p class="remaining_amount">Congrats. You get FREE Shipping!</p>
                {% comment %} <div class="progress">
                    <div class="progress-bar" style="width:{{ total_progress_bar_percentage }}%"></div>
                </div> {% endcomment %}
                <h2>Recommended items by out clients</h2>
            </div>
{% endif %}
