<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->

<head>
  <!-- Basic and Helper page needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <link rel="shortcut icon" href="https://cdn.shopify.com/s/files/1/1241/3290/files/favicon-32x32.png?v=1600110530" type="image/png" />
  
  <link rel="apple-touch-icon" sizes="57x57" href="{{ settings.favicon | img_url: '32x32' }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ settings.favicon | img_url: '32x32' }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ settings.favicon | img_url: '32x32' }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ settings.favicon | img_url: '32x32' }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ settings.favicon | img_url: '32x32' }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ settings.favicon | img_url: '32x32' }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ settings.favicon | img_url: '32x32' }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ settings.favicon | img_url: '32x32' }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '32x32' }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ settings.favicon | img_url: '32x32' }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon | img_url: '32x32' }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ settings.favicon | img_url: '32x32' }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.favicon | img_url: '32x32' }}">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Title and description -->
  {%- capture seo_title -%}
  {{ page_title }}
  {%- if current_tags -%}
  {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}
  {%- endif -%}
  {%- if current_page != 1 -%}
  &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {%- endif -%}
  {%- unless page_title contains shop.name -%}
  &ndash; {{ shop.name }}
  {%- endunless -%}
  {%- endcapture -%}
  
<!-- Added by AVADA SEO Suite -->
{% include 'avada-seo' %}
<!-- /Added by AVADA SEO Suite -->
<title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  <!-- Helpers -->
  {%- include 'social-meta-tags' -%}

  <!-- CSS -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'bannerStyles.css' | asset_url | stylesheet_tag }}
  {%- include 'header-css' -%}

  <!-- Header hook for plugins -->
  {% capture h_content %}
    {{ content_for_header }}
  {% endcapture %}
  {% capture h_content1 | remove: "\/\/app.getwoohoo.com\/11289\/script.js" %}
    {{ h_content }}
  {% endcapture %}
  {% capture h_content2 | remove: "\/\/salespop.conversionbear.com\/script" %}
    {{ h_content1 }}
  {% endcapture %}
  {% capture h_content3 | remove: "\/\/chimpstatic.com\/mcjs-connected\/js\/0b1289b0d19f5257128292157\/ecc89b3a5d08727eea9732e16.js" %}
    {{ h_content2 }}
  {% endcapture %}
  {% capture h_content4 | remove: "\/\/cdn.shopifycloud.com\/messenger_commerce\/assets\/new_message_us" %}
    {{ h_content3 }}
  {% endcapture %}
  {% capture h_content5 | remove: "\/\/s3.amazonaws.com\/lastses3.amazonaws.comcondcoupon\/js\/quickannouncementbar.js" %}
    {{ h_content4 }}
  {% endcapture %}
  {% capture h_content6 | remove: "\/\/inffuse-platform.appspot.com\/plugins\/loader.js" %}
    {{ h_content5 }}
  {% endcapture %}
  {% capture h_content7 | remove: "https:\/\/chimpstatic.com\/mcjs-connected\/js\/users\/0b1289b0d19f5257128292157\/c860332263c78d2b6421931ef.js" %}
    {{ h_content6 }}
  {% endcapture %}
  {% capture h_content8 | remove: "\/\/cdn-stamped-io.azureedge.net\/files\/shopify.v2.min.js" %}
    {{ h_content7 }}
  {% endcapture %}
  {% capture h_content9 | remove: "\/\/www.powr.io\/powr.js" %}
    {{ h_content8 }}
  {% endcapture %}
  {% capture h_content10 | remove: "\/\/productreviews.shopifycdn.com\/assets\/spr.js" %}
    {{ h_content9 }}
  {% endcapture %}
  {% capture h_content11 %}
    {{ h_content10 }}
  {% endcapture %}

  {%- if template.name == "index" -%}
    {{ h_content11 | remove: "https:\/\/chimpstatic.com\/mcjs-connected\/js\/users\/0b1289b0d19f5257128292157\/ecc89b3a5d08727eea9732e16.js" }}
  {%- endif -%}

  {% unless template.name == "index" %}
      {{ content_for_header }}
  {% endunless %}

  {%- include 'oldIE-js' -%}
  <!-- JS -->
  {%- include 'header-js' -%}

  {%- if template contains 'customers' -%}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {%- endif -%}
  <script> (function(){ window.ldfdr = window.ldfdr || {}; (function(d, s, ss, fs){ fs = d.getElementsByTagName(s)[0]; function ce(src){ var cs = d.createElement(s); cs.src = src; setTimeout(function(){fs.parentNode.insertBefore(cs,fs)}, 1); } ce(ss); })(document, 'script', 'https://sc.lfeeder.com/lftracker_v1_kn9Eq4RmPbr7RlvP.js'); })(); </script>
</head>

<body {% if settings.rtl_enable %} dir="rtl" {% endif %} id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template.name | handle }} {% if settings.header_type == "wearables" %}vertical-header {% endif %} {%- if settings.dark_version_enable -%} dark_v {%- endif -%} {% if settings.box_layout_enable -%} box_bg{%- endif -%}" >

  {%- if settings.enable_preloader -%}
  {%- include 'preloader' -%} 
  {%- endif -%}

  {%- if template == 'index' and settings.newsletter_popup_enable -%}
  {%- include 'newsletter-popup' -%}
  {%- endif -%}
  
  {%- if settings.lezada_snow_effect -%}
  <span class="snow--effect"></span>
  {%- endif -%}


  <div class="wrapper {% if settings.box_layout_enable -%} box-layout{%- endif -%}">

    {%- if settings.topbar_notification_enable -%}
    {%- if settings.topbar_notification == 'topbar_in_index' and template == 'index' -%}
    {%- include 'top-notification-bar' -%}
    {%- elsif settings.topbar_notification == 'topbar_in_template' -%}
    {%- include 'top-notification-bar' -%}
    {%- endif -%}
    {%- endif -%}
    
    {%- if template == 'index' and settings.body_top_slider == true -%}
    {%- section 'revslide_for_cosmetic' -%}
    {%- endif -%}

    {%- if settings.error_page_style != "style2" or template != '404' -%}
    {%- include 'header_settings' -%}
    {%- endif -%}

    {%- if template != 'index' and template != '404' -%}
    {%- include 'breadcrumb-banner' -%}
    {%- endif -%}

    <main>
      {{ content_for_layout }}
    </main>

    {% comment %} {%- if settings.error_page_style != "style2" or template != '404' -%}
    {%- include 'footer_settings' -%}
    {%- endif -%} {% endcomment %}

     {% section 'footer_custom' %}

  </div>
 
  <!-- Necessary JS -->
  {%- include 'footer-js' -%}
  {%- include 'modal-compare' -%}
  
  {%- if settings.scroll_to_top -%}
  <!-- scroll to top  -->
  <a href="#" class="scroll-top"></a>
  <!-- end of scroll to top -->
  {%- endif -%}
  
  
  {% if settings.recent_viewed_product %}
  {{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
  {{ 'jquery.products.min.js' | asset_url | script_tag }}
  {% if template contains 'product' %}
  <script>
    Shopify.Products.recordRecentlyViewed();
  </script>
  {% endif %}
  {% endif %}

  
{% include 'social-login' %} {% include 'smile-initializer' %}

{{ '//cdn.shopify.com/s/files/1/0194/1736/6592/t/1/assets/booster-page-speed-optimizer.js?23' | script_tag }}
</body>
</html>
