{%- assign sset = section.settings -%}
{%- assign alignment = sset.textAlign -%}
{%- capture textalignment -%}
{%- case alignment -%}
{%- when "left" -%}
text-left
{%- when "center" -%}
text-center
{%- when "right" -%}
text-right
{%- when "default" -%}

{%- endcase -%}
{%- endcapture -%}
<div class="shop-page-wrapper" data-section="collectionTemplate">
  {%- if sset.collection_description and collection.description != blank -%}
  <div class="collection__heading {{ textalignment }} pt-50 pb-50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {%- if sset.collection__title -%}
          <div class="collections__title">
            <h2>{{ collection.title }}</h2>
          </div>
          {%- endif -%}
          {% if collection.description != blank and sset.collection__description_text %} 
          <div class="collection__description"> 
            <p>{{ collection.description }}</p>
          </div> 
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {%- endif -%}

  {%- if cart.attributes.pagination != blank -%}
  {%- assign products_limit = cart.attributes.pagination -%}
  {%- else -%}
  {%- assign products_limit = section.settings.products_limit_handle -%}
  {%- endif -%}
  {%- paginate collection.products by products_limit -%}
  <div class="shop-page-content mb-100 mb-sm-80 {% unless section.settings.custom_collection_banner == 'custom_banner' or collection.image %} collection-top-padding {% endunless %}">
    {% if section.settings.custom_collection_banner == "custom_banner" %}
      <div class="collection_banner">
        <img class="lazyload" data-src="{% if section.settings.shop_page_title_image != blank %}{{ section.settings.shop_page_title_image | img_url: 'master' }}{% else %} https://via.placeholder.com/1170x500 {% endif %}" alt="{{ section.settings.shop_page_title_image.alt }}">
      </div>
      {%  elsif section.settings.custom_collection_banner == "each_collection_automate" %}
      {% if collection.image %}
      <div class="collection_banner">
        {% if collection.handle == 'independent-woman' %}
          <div class="collection-banner-content ladies-ballroom">
            {% if section.settings.discount_label != '' %}
              <h6>{{ section.settings.discount_label }}</h6>
            {% endif %}
            {% if section.settings.collection_discount_text != '' %}
              <h3>{{ section.settings.collection_discount_text }}</h3>
            {% endif %}
            {% if section.settings.collection_text != '' %}
              <h2>{{ section.settings.collection_text }}</h2>
            {% endif %}
            {% if section.settings.collection_subtitle_text != '' %}
              <h4>{{ section.settings.collection_subtitle_text }}</h4>
            {% endif %}
            {% if section.settings.discount_banner_description != '' %}
              <p>{{ section.settings.discount_banner_description }}</p>
            {% endif %}
            
          </div>
        {% endif %}  
        <img class="lazyload desktop-banner balero-image {% if collection.handle == 'cx2-mens-stainless' %}cx2-stainless{% endif %}" data-src="{{ collection.image.src | collection_img_url: 'master' }}" alt="{{ collection.image.alt }}" />
        {% if collection.metafields.banner.Independent %}
          <img class="lazyload mobile-banner helbaro-mobile-image bliss-image" data-src="{{ collection.metafields.banner.Independent }}" alt="{{ collection.image.alt }}" />
        {% endif %}
      </div>
    {% endif %}

    <div class="{% if section.settings.container_width == 'container' %} container collection-page-container {% elsif section.settings.container_width == 'fluid' %} {% if section.settings.sidebar_handle !=  'no_gutters' %} container wide {%- else -%} container-fluid p-0 {%- endif -%} {%- endif -%}">
      
      {% if section.settings.shopbar_enable %}
        <div class="shop-page-header">
          <div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container wide {% endif %}">
            <div class="row align-items-center collection-template-filters">
              {% include 'collection-sorting-2' %}
            </div>
          </div>
        </div>
      {% endif %}

      {% if section.settings.top_filter_menu %}
        {% include 'top_filter_widget' %}
      {% endif %}
      
      <div class="row collection-row {% if section.settings.sidebar_handle == 'no_gutters' %} no-gutters {% endif %} {% if section.settings.sidebar_handle == 'right_sidebar_handle' %}flex-row-reverse{% endif %} ">
        {%- unless section.settings.sidebar_handle == 'no_gutters' -%}
        {%- unless section.settings.sidebar_handle == 'without_sidebar'  -%}
        <div class="col-lg-3 mb-md-80 mb-sm-80">
          {%- include 'collection-sidebar' -%}
        </div>
        {%- endunless -%}
        {%- endunless -%}

        <div class="{% if section.settings.sidebar_handle == 'without_sidebar' or section.settings.sidebar_handle == 'no_gutters' %}col-lg-12{% else %}col-lg-9{% endif %} col-12 ">
          {% if section.settings.shop_page_title_image_enable == true %}

          
          {% endif %}


          {% endif %}
          <div class="row {% if section.settings.sidebar_handle == 'no_gutters' %} no-gutters {% endif %} product-isotope shop-product-wrap four-column">
            {%- for product in collection.products -%}
            <div class="col-{{ section.settings.small_mobile_col }} col-lg-{{ section.settings.deault_active_grid_column }} col-md-{{ section.settings.product_column_md }} col-sm-{{ section.settings.product_column_xs }}  {%- unless section.settings.product_style == 'style2' -%} mb-45 {%- endunless -%}">
              {% if section.settings.product_style == 'style1' %}
              {%- include 'product-grid-item' -%}
              {% elsif section.settings.product_style == 'style2' %}
              {%- include 'product-grid-item-2' -%}
              {% endif %}
            </div>

            {% endfor %}
          </div>

          <div class="row">
            <div class="col-lg-12 text-center mt-30">
              {%- include 'pagination' -%}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  {%- endpaginate -%}
</div>



{% schema %}
  {
  	"name": "Collection Template",
  	"settings": [
      {
        "type": "header",
        "content": "Add Collection Banner Discount Details"
      },
      {
        "type": "text",
        "id": "discount_label",
        "label": "Discount Collection Banner Label"
      },
      {
        "type": "text",
        "id": "collection_discount_text",
        "label": "Collection Banner discount text"
      },
      {
        "type": "text",
        "id": "collection_text",
        "label": "Collection Banner text"
      },
      {
        "type": "text",
        "id": "collection_subtitle_text",
        "label": "collection subtitle text"
      },
      {
        "type": "text",
        "id": "discount_banner_description",
        "label": "Discount Collection Banner Description"
      },
		  {
             "type":  "radio",
             "id":    "container_width",
             "label": "Container Width",
             "options": [
               { "value": "container", "label": "Container" },
               { "value": "fluid", "label": "Full Width" }
             ],
             "default":   "container"
          },
		  {
              "type": "header",
              "content": "Shop Bar",
			  "info": "---------"
          },
		  {
              "type": "checkbox",
              "id": "shopbar_enable",
              "label": "Shop Bar enable",
              "default": true
          },
		  {
              "type": "checkbox",
              "id": "show_ajax_paginate",
              "label": "Show Ajax Counter",
              "default": true
          },
		  {
              "type": "text",
              "id": "ajax_show_title_handle",
              "label": "Title",
              "default": "Show | per page"
          },
		  {
              "type": "header",
              "content": "Top Filter Widget",
			  "info": "---------"
          },
		  {
              "type": "checkbox",
              "id": "top_filter_menu",
              "label": "Shop Filter Bar enable",
              "default": false
          },
		  {
              "type": "text",
              "id": "filter_btn_text",
              "label": "Filter Button Text",
              "default": "Filters"
          },
          {
              "type": "header",
              "content": "Collection Sorting",
			  "info": "---------"
          },
		  {
              "type": "checkbox",
              "id": "tab_bar_enable",
              "label": "Show Grid/List View",
              "default": true
          },
		  {
              "type": "checkbox",
              "id": "showing_product_counter_enable",
              "label": "Showing Product Counter",
              "default": true
          },
		  {
              "type": "text",
              "id": "showing_title_handle",
              "label": "Showing Title",
              "default": "Showing | of | result"
          },

          {
              "type": "checkbox",
              "id": "short_by_enable",
              "label": "Show Short By",
              "default": true
          },	
		  {
              "type": "header",
              "content": "Collection Description",
			  "info": "---------"
          },
		  {
              "type": "checkbox",
              "id": "collection_description",
              "label": "Collection Description Heading",
              "default": false
          },
		  {
              "type": "paragraph",
              "content": "Collection Title"
          },
		  {
              "type": "checkbox",
              "id": "collection__title",
              "label": "Collection Title Enable",
              "default": true
          },
		  {
              "type": "paragraph",
              "content": "Collection Description"
          },
		  {
              "type": "checkbox",
              "id": "collection__description_text",
              "label": "Collection Description Enable",
              "default": true
          },
		  {
            "type": "select",
            "id": "textAlign",
            "label": "Text Alignment",
            "options":[
                  {
                      "label": "Left",
                      "value": "left"
                  },
                  {
                      "label": "Center",
                      "value": "center"
                  },
                  {
                      "label": "Right",
                      "value": "right"
                  },
				  {
                      "label": "Default",
                      "value": "default"
                  }
              ],
              "default": "default"
          },
		  {
              "type": "header",
              "content": "Collection Banner",
			  "info": "---------"
          },
		  {
              "type": "checkbox",
              "id": "shop_page_title_image_enable",
              "label": "Collection Banner Enable",
              "default": true
          },
		  {
             "type":  "radio",
             "id":    "custom_collection_banner",
             "label": "Collection Banner Type",
             "options": [
               { "value": "custom_banner", "label": "Custom Banner" },
               { "value": "each_collection_automate", "label": "Each Collection Banner" }
             ],
             "default":   "each_collection_automate"
          },
		  {
            "type": "image_picker",
            "id": "shop_page_title_image",
            "label": "Custom Banner Image",
            "info": "Recommended Size: 1170 x 500 px"
          },
          {
              "type": "header",
              "content": "Product",
			   "info": "---------"
          },	
		  {
            "type": "range",
            "id": "products_limit_handle",
            "min": 6,
            "max": 100,
            "step": 1,
            "label": "Limit",
            "default": 12,
			"info": "How many products are displayed on each page"
          },
          {
              "type": "paragraph",
              "content": "Product Column"
          },
          {
            "type": "select",
            "id": "deault_active_grid_column",
            "label": "Desktop",
            "options":[
                  {
                      "label": "2 Colmun",
                      "value": "6"
                  },
                  {
                      "label": "3 Column",
                      "value": "4"
                  },
                  {
                      "label": "4 Column",
                      "value": "3"
                  }
              ],
              "default": "4"
          },
          {
            "type": "select",
            "id": "product_column_md",
            "label": "Tablet",
            "options":[
                  {
                      "label": "2 Column",
                      "value": "6"
                  },
                  {
                      "label": "3 Column",
                      "value": "4"
                  },
                  {
                      "label": "4 Column",
                      "value": "3"
                  }
              ],
              "default": "6"
          },
          {
            "type": "select",
            "id": "product_column_xs",
            "label": "Large Mobile",
            "options":[
                  {
                      "label": "1 Column",
                      "value": "12"
                  },
                  {
                      "label": "2 Column",
                      "value": "6"
                  }
              ],
              "default": "6"
          },
		  {
          "type": "select",
          "id": "small_mobile_col",
          "label": "Small Mobile",
		  "info": "Less Than 575px Screen Size",
		  "options":[
				{
                    "label": "1 Column",
                    "value": "12"
                },
                {
                    "label": "2 Column",
                    "value": "6"
                }
			],
			"default": "12"
      	},
          {
              "type": "header",
              "content": "Collection Sidebar",
			  "info": "---------"
          },
          {
              "type": "radio",
              "id": "sidebar_handle",
              "label": "Sidebar Position -",
              "options": [
                  {
                      "label": "Left Sidebar",
                      "value": "left_sidebar_handle"
                  },
                  {
                      "label": "Right Sidebar",
                      "value": "right_sidebar_handle"
                  },
                  {
                      "label": "Without Sidebar",
                      "value": "without_sidebar"
                  },
				  {
                      "label": "No Space FullWidth",
                      "value": "no_gutters"
                  }
              ],
              "default": "left_sidebar_handle"
          },
		  {
              "type": "header",
              "content": "Product Grid Style",
			  "info": "---------"
          },
		  {
              "type": "radio",
              "id": "product_style",
              "label": "Product Grid Style -",
              "options": [
                  {
                      "label": "Grid Style 1",
                      "value": "style1"
                  },
                  {
                      "label": "Grid Style 2",
                      "value": "style2"
                  }
              ],
              "default": "style1"
          }

      ],
	  "blocks":[
		{
          "type": "search",
          "name": "Search",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Search"
            },
            {
                "type": "header",
                "content": "Top Filter Single Widget Column"
            },
            {
              "type": "select",
              "id": "filter_widget_lg_col",
              "label": "Desktop",
              "options":[
                    {
                        "label": "2 Colmun",
                        "value": "6"
                    },
                    {
                        "label": "3 Column",
                        "value": "4"
                    },
                    {
                        "label": "4 Column",
                        "value": "3"
                    },
                    {
                        "label": "6 Column",
                        "value": "2"
                    }
                ],
                "default": "2"
            },
            {
              "type": "select",
              "id": "filter_widget_md_col",
              "label": "Tablet",
              "options":[
                    {
                        "label": "2 Column",
                        "value": "6"
                    },
                    {
                        "label": "3 Column",
                        "value": "4"
                    },
                    {
                        "label": "4 Column",
                        "value": "3"
                    }
                ],
                "default": "4"
            },
            {
              "type": "select",
              "id": "filter_widget_xs_col",
              "label": "Large Mobile",
              "options":[
                    {
                        "label": "1 Column",
                        "value": "12"
                    },
                    {
                        "label": "2 Column",
                        "value": "6"
                    }
                ],
                "default": "6"
            }
          ]
       },
	   {
          "type": "category",
          "name": "Category",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Categories"
            },
            {
              "type": "range",
              "id": "categories_list_limit_hanlde",
              "min": 5,
              "max": 100,
              "step": 1,
              "label": "Category Limit",
              "default": 5
            },
			{
                "type": "header",
                "content": "Top Filter Single Widget Column"
            },
            {
              "type": "select",
              "id": "filter_widget_lg_col",
              "label": "Desktop",
              "options":[
                    {
                        "label": "2 Colmun",
                        "value": "6"
                    },
                    {
                        "label": "3 Column",
                        "value": "4"
                    },
                    {
                        "label": "4 Column",
                        "value": "3"
                    },
                    {
                        "label": "6 Column",
                        "value": "2"
                    }
                ],
                "default": "2"
            },
            {
              "type": "select",
              "id": "filter_widget_md_col",
              "label": "Tablet",
              "options":[
                    {
                        "label": "2 Column",
                        "value": "6"
                    },
                    {
                        "label": "3 Column",
                        "value": "4"
                    },
                    {
                        "label": "4 Column",
                        "value": "3"
                    }
                ],
                "default": "4"
            },
            {
              "type": "select",
              "id": "filter_widget_xs_col",
              "label": "Large Mobile",
              "options":[
                    {
                        "label": "1 Column",
                        "value": "12"
                    },
                    {
                        "label": "2 Column",
                        "value": "6"
                    }
                ],
                "default": "6"
            }
          ]
       },
	   {
          "type": "vendor",
          "name": "Vendor",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Vendors"
            },
            {
              "type": "range",
              "id": "vendors_list_limit_hanlde",
              "min": 5,
              "max": 100,
              "step": 1,
              "label": "Verdor Limit",
              "default": 5
            },
			{
                "type": "header",
                "content": "Top Filter Single Widget Column"
            },
            {
              "type": "select",
              "id": "filter_widget_lg_col",
              "label": "Desktop",
              "options":[
                    {
                        "label": "2 Colmun",
                        "value": "6"
                    },
                    {
                        "label": "3 Column",
                        "value": "4"
                    },
                    {
                        "label": "4 Column",
                        "value": "3"
                    },
                    {
                        "label": "6 Column",
                        "value": "2"
                    }
                ],
                "default": "2"
            },
            {
              "type": "select",
              "id": "filter_widget_md_col",
              "label": "Tablet",
              "options":[
                    {
                        "label": "2 Column",
                        "value": "6"
                    },
                    {
                        "label": "3 Column",
                        "value": "4"
                    },
                    {
                        "label": "4 Column",
                        "value": "3"
                    }
                ],
                "default": "4"
            },
            {
              "type": "select",
              "id": "filter_widget_xs_col",
              "label": "Large Mobile",
              "options":[
                    {
                        "label": "1 Column",
                        "value": "12"
                    },
                    {
                        "label": "2 Column",
                        "value": "6"
                    }
                ],
                "default": "6"
            }
          ]
       },
	   {
          "type": "type",
          "name": "Type",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Products Types"
            },
            {
              "type": "range",
              "id": "types_list_limit_hanlde",
              "min": 5,
              "max": 100,
              "step": 1,
              "label": "Type Limit",
              "default": 5
            },
			{
                "type": "header",
                "content": "Top Filter Single Widget Column"
            },
            {
              "type": "select",
              "id": "filter_widget_lg_col",
              "label": "Desktop",
              "options":[
                    {
                        "label": "2 Colmun",
                        "value": "6"
                    },
                    {
                        "label": "3 Column",
                        "value": "4"
                    },
                    {
                        "label": "4 Column",
                        "value": "3"
                    },
                    {
                        "label": "6 Column",
                        "value": "2"
                    }
                ],
                "default": "2"
            },
            {
              "type": "select",
              "id": "filter_widget_md_col",
              "label": "Tablet",
              "options":[
                    {
                        "label": "2 Column",
                        "value": "6"
                    },
                    {
                        "label": "3 Column",
                        "value": "4"
                    },
                    {
                        "label": "4 Column",
                        "value": "3"
                    }
                ],
                "default": "4"
            },
            {
              "type": "select",
              "id": "filter_widget_xs_col",
              "label": "Large Mobile",
              "options":[
                    {
                        "label": "1 Column",
                        "value": "12"
                    },
                    {
                        "label": "2 Column",
                        "value": "6"
                    }
                ],
                "default": "6"
            }
          ]
       },
	   {
          "type": "color",
          "name": "Color",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Color"
            },
            {
              "type": "textarea",
              "id": "color_picker",
              "label": "Put your color name",
              "default": "red, green, blue, yellow, white, gold, gray, magenta, maroon, navy, purple, violet, black, pink, orange, silver",
              "info": "Ex: red, green, blue [More Color Name](https:\/\/www.w3schools.com\/colors\/colors_names.asp)"
            },
            {
              "type": "range",
              "id": "colors_list_limit_hanlde",
              "min": 1,
              "max": 100,
              "step": 1,
              "label": "Color Limit",
              "default": 10
            },
			{
                "type": "header",
                "content": "Top Filter Single Widget Column"
            },
            {
              "type": "select",
              "id": "filter_widget_lg_col",
              "label": "Desktop",
              "options":[
                    {
                        "label": "2 Colmun",
                        "value": "6"
                    },
                    {
                        "label": "3 Column",
                        "value": "4"
                    },
                    {
                        "label": "4 Column",
                        "value": "3"
                    },
                    {
                        "label": "6 Column",
                        "value": "2"
                    }
                ],
                "default": "2"
            },
            {
              "type": "select",
              "id": "filter_widget_md_col",
              "label": "Tablet",
              "options":[
                    {
                        "label": "2 Column",
                        "value": "6"
                    },
                    {
                        "label": "3 Column",
                        "value": "4"
                    },
                    {
                        "label": "4 Column",
                        "value": "3"
                    }
                ],
                "default": "4"
            },
            {
              "type": "select",
              "id": "filter_widget_xs_col",
              "label": "Large Mobile",
              "options":[
                    {
                        "label": "1 Column",
                        "value": "12"
                    },
                    {
                        "label": "2 Column",
                        "value": "6"
                    }
                ],
                "default": "6"
            }
          ]
       },
	   {
          "type": "size",
          "name": "Size",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Size"
            },
            {
              "type": "textarea",
              "id": "size_picker",
              "label": "Put your size name",
              "default": "s, m, l, xl, xxl",
              "info": "Ex: s, m, l, xl, xxl"
            },
            {
              "type": "range",
              "id": "size_list_limit_hanlde",
              "min": 5,
              "max": 100,
              "step": 1,
              "label": "Size Limit",
              "default": 5
            },
			{
                "type": "header",
                "content": "Top Filter Single Widget Column"
            },
            {
              "type": "select",
              "id": "filter_widget_lg_col",
              "label": "Desktop",
              "options":[
                    {
                        "label": "2 Colmun",
                        "value": "6"
                    },
                    {
                        "label": "3 Column",
                        "value": "4"
                    },
                    {
                        "label": "4 Column",
                        "value": "3"
                    },
                    {
                        "label": "6 Column",
                        "value": "2"
                    }
                ],
                "default": "2"
            },
            {
              "type": "select",
              "id": "filter_widget_md_col",
              "label": "Tablet",
              "options":[
                    {
                        "label": "2 Column",
                        "value": "6"
                    },
                    {
                        "label": "3 Column",
                        "value": "4"
                    },
                    {
                        "label": "4 Column",
                        "value": "3"
                    }
                ],
                "default": "4"
            },
            {
              "type": "select",
              "id": "filter_widget_xs_col",
              "label": "Large Mobile",
              "options":[
                    {
                        "label": "1 Column",
                        "value": "12"
                    },
                    {
                        "label": "2 Column",
                        "value": "6"
                    }
                ],
                "default": "6"
            }
          ]
       },
	   {
          "type": "tag",
          "name": "Tag",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Tags"
            },
            {
              "type": "range",
              "id": "tags_list_limit_hanlde",
              "min": 5,
              "max": 100,
              "step": 1,
              "label": "Size Limit",
              "default": 15
            },
			{
                "type": "header",
                "content": "Top Filter Single Widget Column"
            },
            {
              "type": "select",
              "id": "filter_widget_lg_col",
              "label": "Desktop",
              "options":[
                    {
                        "label": "2 Colmun",
                        "value": "6"
                    },
                    {
                        "label": "3 Column",
                        "value": "4"
                    },
                    {
                        "label": "4 Column",
                        "value": "3"
                    },
                    {
                        "label": "6 Column",
                        "value": "2"
                    }
                ],
                "default": "2"
            },
            {
              "type": "select",
              "id": "filter_widget_md_col",
              "label": "Tablet",
              "options":[
                    {
                        "label": "2 Column",
                        "value": "6"
                    },
                    {
                        "label": "3 Column",
                        "value": "4"
                    },
                    {
                        "label": "4 Column",
                        "value": "3"
                    }
                ],
                "default": "4"
            },
            {
              "type": "select",
              "id": "filter_widget_xs_col",
              "label": "Large Mobile",
              "options":[
                    {
                        "label": "1 Column",
                        "value": "12"
                    },
                    {
                        "label": "2 Column",
                        "value": "6"
                    }
                ],
                "default": "6"
            }
          ]
       },
	   {
          "type": "menu",
          "name": "Menu",
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Custom Menu"
            },
			{
              "type": "link_list",
              "id": "menu_handle",
              "label": "Menu",
              "info": "Dropdown menu applicable"
            },
			{
                "type": "header",
                "content": "Top Filter Single Widget Column"
            },
            {
              "type": "select",
              "id": "filter_widget_lg_col",
              "label": "Desktop",
              "options":[
                    {
                        "label": "2 Colmun",
                        "value": "6"
                    },
                    {
                        "label": "3 Column",
                        "value": "4"
                    },
                    {
                        "label": "4 Column",
                        "value": "3"
                    },
                    {
                        "label": "6 Column",
                        "value": "2"
                    }
                ],
                "default": "2"
            },
            {
              "type": "select",
              "id": "filter_widget_md_col",
              "label": "Tablet",
              "options":[
                    {
                        "label": "2 Column",
                        "value": "6"
                    },
                    {
                        "label": "3 Column",
                        "value": "4"
                    },
                    {
                        "label": "4 Column",
                        "value": "3"
                    }
                ],
                "default": "4"
            },
            {
              "type": "select",
              "id": "filter_widget_xs_col",
              "label": "Large Mobile",
              "options":[
                    {
                        "label": "1 Column",
                        "value": "12"
                    },
                    {
                        "label": "2 Column",
                        "value": "6"
                    }
                ],
                "default": "6"
            }
          ]
       },
	   {
          "type": "banner",
          "name": "Banner",
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Banner"
            },
            {
              "type": "image_picker",
              "id": "banner_image",
              "label": "Image"
            },
			{
              "type": "url",
              "id": "banner_image_url",
              "label": "URL"
            },
			{
                "type": "header",
                "content": "Top Filter Single Widget Column"
            },
            {
              "type": "select",
              "id": "filter_widget_lg_col",
              "label": "Desktop",
              "options":[
                    {
                        "label": "2 Colmun",
                        "value": "6"
                    },
                    {
                        "label": "3 Column",
                        "value": "4"
                    },
                    {
                        "label": "4 Column",
                        "value": "3"
                    },
                    {
                        "label": "6 Column",
                        "value": "2"
                    }
                ],
                "default": "2"
            },
            {
              "type": "select",
              "id": "filter_widget_md_col",
              "label": "Tablet",
              "options":[
                    {
                        "label": "2 Column",
                        "value": "6"
                    },
                    {
                        "label": "3 Column",
                        "value": "4"
                    },
                    {
                        "label": "4 Column",
                        "value": "3"
                    }
                ],
                "default": "4"
            },
            {
              "type": "select",
              "id": "filter_widget_xs_col",
              "label": "Large Mobile",
              "options":[
                    {
                        "label": "1 Column",
                        "value": "12"
                    },
                    {
                        "label": "2 Column",
                        "value": "6"
                    }
                ],
                "default": "6"
            }
          ]
       }
	]
  }
{% endschema %}


<script>
  $('.grid-icons a').on('click', function (e) {
    e.preventDefault();

    var shopProductWrap = $('.shop-product-wrap');
    var viewMode = $(this).data('target');


    /*----------  reinitialize isotope  ----------*/

    shopProductWrap.isotope();
    shopProductWrap.isotope('destroy');

    $('.grid-icons a').removeClass('active');
    $(this).addClass('active');
    shopProductWrap.removeClass('three-column four-column five-column grid-list').addClass(viewMode);

    
    {% if section.settings.container_width == 'container' %}
    
    if(viewMode == 'three-column'){
      shopProductWrap.children().addClass('col-lg-6').removeClass('col-lg-3 col-lg-4 col-lg-12');
    }

    if(viewMode == 'four-column'){
      shopProductWrap.children().addClass('col-lg-4').removeClass('col-lg-6 col-lg-3 col-lg-12');
    }

    if(viewMode == 'five-column'){
      shopProductWrap.children().addClass('col-lg-3').removeClass('col-lg-6 col-lg-4 col-lg-12');
    }

    if(viewMode == 'grid-list'){
      shopProductWrap.children().addClass('col-lg-12').removeClass('col-lg-6 col-lg-4 col-lg-3 col-md-6 col-sm-6 col-sm-4 col-sm-3 col-md-4 col-md-3');
    }
    
    {% elsif section.settings.container_width == 'fluid'  %}
    
    
    if(viewMode == 'three-column'){
      shopProductWrap.children().addClass('col-lg-4').removeClass('col-lg-3 col-lg-is-5 col-lg-12');
    }

    if(viewMode == 'four-column'){
      shopProductWrap.children().addClass('col-lg-3').removeClass('col-lg-4 col-lg-is-5 col-lg-12');
    }

    if(viewMode == 'five-column'){
      shopProductWrap.children().addClass('col-lg-is-5').removeClass('col-lg-3 col-lg-4 col-lg-12');
    }
	if(viewMode == 'grid-list'){
      shopProductWrap.children().addClass('col-lg-12').removeClass('col-lg-6 col-lg-4 col-lg-3 col-md-6 col-md-4 col-md-3 col-sm-6 col-sm-4 col-sm-3 col-lg-is-5');
    }
    
    {% endif %}


  });
</script>