{% if section.settings.footer_section_enable == true %}
<div class="{% if section.settings.section_snow_effect %}snow--section-effect {% endif %} footer-container footer-one pt-100 pb-50 pt-sm-80 pb-sm-30 {% if section.settings.footer_overlay %} footer_overlay {% endif %}" id="section-{{ section.id }}">
   <div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container wide {% endif %}">
    <div class="row">

      {% for block in section.blocks %} 
      {% case block.type %}	

      {% when 'copyright_logo' %}
      <div class="col footer-single-widget">
        <div class="logo">
          {%- if block.settings.logo -%}
          <a href="/" class="theme-logo">
            <img src="{{ block.settings.logo | img_url: '300x300' }}" alt="{{ block.settings.logo.alt | default: shop.name }}">

          </a>
          {%- else -%}
          <a href="/">
            {{ shop.name }}
          </a>
          {%- endif -%}
          
        </div>

        <div class="copyright-text">
           {{ block.settings.copy_right_text }}
        </div>

      </div>

      {% when 'widget_menu' %}
      <div class="col footer-single-widget">
        {% if block.settings.footer_widget_title != blank %}
        <h5 class="widget-title">{{ block.settings.footer_widget_title }}</h5>
        {% endif %}
        
        <div class="footer-nav-container">
          <nav>
            <ul>
              {% assign footer_menu = block.settings.footer_menu_handle %}
              {% for link in linklists[footer_menu].links %}
              <li><a href="{{ link.url }}"> {{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>

      {% when 'social_icon' %}

      <div class="col footer-single-widget">
        {% if block.settings.footer_widget_title != blank %}
        <h5 class="widget-title">{{ block.settings.footer_widget_title }}</h5>
        {% endif %}
        
        <div class="footer-nav-container footer-social-links">
          <nav>
            <ul>
              {% if block.settings.social_icon_1_name != blank %}
              <li><a href="{{ block.settings.social_icon_1_link }}"><i class="fa fa-{{ block.settings.social_icon_1_name }}"></i> {{ block.settings.social_icon_1_name }}</a></li>        
              {% endif %}
              {% if block.settings.social_icon_2_name != blank %}
              <li><a  href="{{ block.settings.social_icon_2_link }}"><i class="fa fa-{{ block.settings.social_icon_2_name }}"></i> {{ block.settings.social_icon_2_name }} </a></li>        
              {% endif %}   
              {% if block.settings.social_icon_3_name != blank %}
              <li><a  href="{{ block.settings.social_icon_3_link }}"><i class="fa fa-{{ block.settings.social_icon_3_name }}"></i> {{ block.settings.social_icon_3_name }} </a></li>        
              {% endif %}
              {% if block.settings.social_icon_4_name != blank %}
              <li><a href="{{ block.settings.social_icon_4_link }}"><i class="fa fa-{{ block.settings.social_icon_4_name }}"></i> {{ block.settings.social_icon_4_name }} </a></li>        
              {% endif %}
              
              {% if block.settings.social_icon_5_name != blank %}
              <li><a href="{{ block.settings.social_icon_5_link }}"><i class="fa fa-{{ block.settings.social_icon_5_name }}"></i> {{ block.settings.social_icon_5_name }} </a></li>        
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>

      {% when 'newsletter' %}
      <div class="col footer-single-widget">
        <div class="footer-subscription-widget">
          {% if block.settings.newsletter_title != blank %}
          <h2 class="footer-subscription-title">{{ block.settings.newsletter_title }}</h2>
          {% endif %}
          {% if block.settings.newsletter_description != blank %}
          <p class="subscription-subtitle">{{ block.settings.newsletter_description }}</p>
          {% endif %}
          
          {%- if block.settings.newsletter_system == 'by_shopify_form' -%}
          {%- assign formId = 'Contact_' | append: section.id -%}
          {%- form 'customer', id: formId, class: "shopify_newsletter__form" -%}
          {%- if form.posted_successfully? -%}
          <p class="form-message form-success">{{ 'general.newsletter_form.confirmation'| t }} </p>
          {%- else -%}
          <div class="subscription-form">
            {%- if form.errors -%}
            <div class="form-message form-message--error">
              {{ form.errors | default_errors }}
            </div>
            {%- endif -%}
            <div class="form__inner">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="email" name="contact[email]" id="Email" value="{% if customer %}{{ customer.email }}{% endif %}"
                     placeholder="{{ block.settings.newsletter_input_placeholder }}" aria-label="{{ 'general.newsletter_form.newsletter_email'| t }}" {% if form.errors %}aria-invalid="true"{% endif %} autocorrect="off" autocapitalize="off">
              <button type="submit"  name="commit" id="Subscribe"><i class="ion-ios-arrow-thin-right"></i></button>
            </div>
          </div>
          {%- endif -%}
          {%- endform -%}

          {%- elsif block.settings.newsletter_system == 'by_mailchimp' -%}
          <div class="subscription-form">
            <form id="mc-form" class="mc-form">
              <input type="email" placeholder="{{ block.settings.newsletter_input_placeholder }}" required>
              <button type="submit"><i class="ion-ios-arrow-thin-right"></i></button>
            </form>
          </div>
          <div class="mailchimp-alerts">
            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
          </div><!-- mailchimp-alerts end -->
          {%- endif -%}
        </div>
      </div>


      {% endcase %}
      {% endfor %}



    </div>
  </div>
</div>
{% endif %}

<style>
  {% for block in section.blocks %} 
  	{% case block.type %}		
      {% when 'footer_typography' %}
         #section-{{ section.id }}.footer-container.footer-one {
           background: {{ block.settings.footer_bg_color }} {%- if block.settings.footer_bg_image -%}url("{{ block.settings.footer_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
  		}
          #section-{{ section.id }} .footer-single-widget h5.widget-title,#section-{{ section.id }} .footer-subscription-widget .footer-subscription-title{
            color: {{ block.settings.widget_title_color }};
          }
          #section-{{ section.id }} .footer-single-widget .copyright-text p,.footer-nav-container nav ul li a,.footer-subscription-widget .subscription-subtitle {
            color: {{ block.settings.footer_body_color }};
          }
           #section-{{ section.id }} .footer-social-links ul li a i {
             color: {{ block.settings.social_icon_color }};
          }
          #section-{{ section.id }}  .mailchimp-success{
            color: {{ block.settings.mail_sucess_color }};
          }
  		   #section-{{ section.id }}  .footer-nav-container nav ul li a:hover,.footer-subscription-widget .subscription-form button:hover{
              color: {{ block.settings.footer_body_hover_color }};
          }
		  .footer-subscription-widget .subscription-form input,.footer-subscription-widget .subscription-form input:focus {
            border-color: {{ block.settings.input_border_color }};
          }

       .footer-subscription-widget .subscription-form button {
            color: {{ block.settings.newsletter_submit_button_color }};
        }
          .footer-subscription-widget .subscription-form input {
            color: {{ block.settings.newsletter_placholder_color }}
          }
        .footer-subscription-widget .subscription-form input::-webkit-input-placeholder {
          color: {{ block.settings.newsletter_placholder_color }};
        }
        .footer-subscription-widget .subscription-form input:-ms-input-placeholder {
          color: {{ block.settings.newsletter_placholder_color }};
        }
        .footer-subscription-widget .subscription-form input::placeholder {
          color: {{ block.settings.newsletter_placholder_color }};
        }
  
     {% endcase %}
  {% endfor %}
  
  
  #section-{{ section.id }}.footer_overlay::before  {
    background: {{ section.settings.footer_overlay_color }};
    opacity: {{ section.settings.footer_overlay_opacity }};
  }

</style>


{% schema %}
  {
  "name": "Footer",
    "settings": [
		{
             "type":  "radio",
             "id":    "container_width",
             "label": "Container Width",
             "options": [
               { "value": "container", "label": "Container" },
               { "value": "fluid", "label": "Full Width" }
             ],
             "default":   "fluid"
          },
		{
          "type": "header",
          "content": "Footer Enable"
        },
        {
          "type": "checkbox",
          "id": "footer_section_enable",
          "label": "Footer Section Enable",
          "default": true
        },
		{
                "type": "header",
                "content": "Footer Overlay"
              },
              {
                "type": "checkbox",
                "id": "footer_overlay",
                "label": "Footer Overlay Enable",
                "default": false
              },
              {
                "type": "color",
                "id": "footer_overlay_color",
                "label": "Overlay Color",
                "default": "#000"
              },
              {
                "type": "range",
                "id": "footer_overlay_opacity",
                "min": 0,
                "max": 1,
                "step": 0.1,
                "label": "Overlay Color Opacity",
                "default": 0.5
              },
		{
          "type": "header",
          "content": "Snow Effect"
        },
        {
          "type": "checkbox",
          "id": "section_snow_effect",
          "label": "Snow Effect Enable",
          "default": false
        }
    ],
	"blocks":[
		{
          "type": "footer_typography",
          "name": "Footer Color Options",
		  "limit": 1,
          "settings": [
              {
                "type": "color",
                "id": "footer_bg_color",
                "label": "Footer  Bg color",
                "default": "#f8f8f8"
              },
			  {
                "type": "image_picker",
                "id": "footer_bg_image",
                "label": "BG Image"
              },
			  {
                "type": "color",
                "id": "widget_title_color",
                "label": "Widget Title Color",
                "default": "#333"
              },
			  {
                "type": "color",
                "id": "footer_body_color",
                "label": "Footer Body color",
                "default": "#999999"
              },
			  {
                "type": "color",
                "id": "footer_body_hover_color",
                "label": "Footer Body Hover color",
                "default": "#333"
              },
			  {
                "type": "color",
                "id": "social_icon_color",
                "label": "Social Icon color",
                "default": "#333"
              },
			  {
                "type": "color",
                "id": "input_border_color",
                "label": "Newsletter Input Boder Color",
                "default": "#ccc"
              },
			  {
                "type": "color",
                "id": "newsletter_placholder_color",
                "label": "Newsletter Placeholder Color",
                "default": "#777"
              },
			  {
                "type": "color",
                "id": "newsletter_submit_button_color",
                "label": "Newsletter Submit Button Color",
                "default": "#ccc"
              }
          ]
		},
		{
          "type": "newsletter",
          "name": "Newsletter",
          "settings": [
			  {
                "type": "text",
                "id": "newsletter_title",
                "label": "Newsletter Widget Title",
                "default": "Subscribe."
              },
		      {
                "type": "header",
                "content": "Newsletter Type"
              },
              {
                "type": "radio",
                "id": "newsletter_system",
                "label": "Newsletter Accept",
                "options": [
                  {
                    "label": "Shopify Form",
                    "value": "by_shopify_form"
                  },
                  {
                    "label": "MailChimp",
                    "value": "by_mailchimp"
                  }
                ],
                "default": "by_shopify_form"
              },
		 	  {
                "type": "textarea",
                "id": "newsletter_description",
                "label": "Newsletter Widget Desc",
                "default": "Subscribe to our newsletter to receive news on update."
              },
			  {
                "type": "text",
                "id": "newsletter_input_placeholder",
                "label": "Placeholder Title",
                "default": "Your email address."
              }
          ]
       },
		{
          "type": "social_icon",
          "name": "Social Media",
          "settings": [
			  {
                "type": "text",
                "id": "footer_widget_title",
                "label": "Footer Widget Title",
                "default": "Widget TItle"
              },
			  {
                "type": "header",
                "content": "Icon With Link"
              },
			  {
                "type": "text",
                "id": "social_icon_1_name",
                "label": "Social Icon Name",
                "default": "twitter",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_1_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_icon_2_name",
                "label": "Social Icon Name",
                "default": "instagram",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_2_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_icon_3_name",
                "label": "Social Icon Name",
                "default": "google-plus",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_3_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_icon_4_name",
                "label": "Social Icon Name",
                "default": "linkedin",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_4_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_icon_5_name",
                "label": "Social Icon Name",
                "default": "pinterest",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_5_link",
                "label": "Link"
              }
          ]
       },
		{
          "type": "copyright_logo",
          "name": "Logo With Copyright",
          "settings": [
			  {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo"
              },
		      {
                "type": "richtext",
                "id": "copy_right_text",
                "label": "CopyRight Text",
                "default": "<p>Copyright © Lezada Shopify All Right Reserved.</p>"
              }
          ]
       },
		{
          "type": "widget_menu",
          "name": "Footer Widget Menu",
          "settings": [
			  {
                "type": "text",
                "id": "footer_widget_title",
                "label": "Footer Widget Title",
                "default": "Widget TItle"
              },
			  {
                  "type": "link_list",
                  "id": "footer_menu_handle",
                  "label": "Select Menu"
              }
          ]
       }
	   
	]
  }
{% endschema %}