<div class="home-featured-section">
  <div class="container wide">
    <div class="featured-section-header">
        <h6>{{ section.settings.feature_sub_title }}</h6>
        <h2>{{ section.settings.feature_title }}</h2>
    </div>
    <div class="row">
        {% for block in section.blocks %}
            <div class="col-lg-3 col-md-3 col-xs-12">
                <a href="{{ block.settings.product_url }}" class="feature-box">
                    <div class="feature-img">
                        <img src="{{ block.settings.product_img | img_url: 'master' }}"  class="lazyload">
                    </div>
                    <div class="feature-content">
                        <h4>{{ block.settings.product_name }}</h4>
                        <span class="feature-price">{{ block.settings.product_price }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
  </div>
</div>

{% schema %}
    {
        "name": "Home Feature Products",
        "settings": [
            {
                "type": "text",
                "id": "feature_sub_title",
                "label": "Feature Sub Title"
            },
            {
                "type": "text",
                "id": "feature_title",
                "label": "Feature Title"
            }
        ],
        "blocks": [
            {
                "type": "feature_product",
                "name": "Feature Product",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "product_img",
                        "label": "Product Image"
                    },
                    {
                        "type": "text",
                        "id": "product_name",
                        "label": "Product Name"
                    },
                    {
                        "type": "text",
                        "id": "product_price",
                        "label": "Product Price"
                    },
                    {
                        "type": "url",
                        "id": "product_url",
                        "label": "Product URL"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Feature Products",
                "category": "Feature Products"
            }
	    ]
    }
{% endschema %}