{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
{%- assign on_sale = true -%}
{%- endif -%}
{%- assign sold_out = true -%}
{%- if product.available -%}
{%- assign sold_out = false -%}
{%- endif -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign lezadaSettings = section.settings -%}

{% assign variantCount = product.variants | size %}

<div class="shop-page-wrapper {% if settings.breadcrumb_banner_enable -%} mt-100 mt-sm-80 {%- endif -%}" id="product-details-with-gallery" itemscope itemtype="http://schema.org/Product" data-section="ProductPage">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">
  {%- if section.settings.product_navigation_enable -%}
  {%- include 'previous_next' -%}
  {%- endif -%}
  <div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container wide {%- endif -%}">
    <div class="row">
      <div class="col-lg-12">
        <div class="shop-product">
          <div class="row pb-100 pb-md-85 pb-sm-65">
            <div class="{% if section.settings.product_thumnail_type == 'vertical_mode' %} col-xl-6 {% endif %}  {% if section.settings.product_sidebar_enable %} col-xl-4 col-lg-4 {% else %} col-lg-6 col-md-6 {% endif %}" data-more-view-product>
              
              {%- if section.settings.product_thumnail_type == 'vertical_mode' -%}
              {%- include 'product_right_thumbnail' -%}
              {%- elsif section.settings.product_thumnail_type == 'horizontal_mode' -%}	
              <div class="product-gallery-sticky ">
                <div class="shop-product__big-image-gallery-wrapper product__slide_wrapper">
                  <div class="single-product__floating-badges single-product__floating-badges--shop-product">
                    {%- include 'product-badge' -%}
                  </div>
                  <div class="shop-product-rightside-icons">
                    {%- if product.description contains '[product_video]' and section.settings.product_video_enable -%}
                    {% assign product_video_first = product.description | split:'[/product_video]' | first %}
                    {% assign product_video_final = product_video_first | split:'[product_video]' | last %} 

                    <span class="wishlist-icon">
                      <a class="popup-video" href="{{ product_video_final }}"><i class="ion-ios-videocam"></i></a>
                    </span>
                    {%- endif -%}
                  </div>

                  <div class="product-photo-container product_media_gallery">
                    {%- for media in product.media -%}
                    {%- include 'media' -%}
                    {%- endfor -%}
                  </div>

                  <div class="product_media_nav shop-product__small-image-gallery-wrapper horizontal_slide" data-rows="5" data-vertical="false">
                    {%- for media in product.media -%}
                    {%- include 'media_nav' -%}
                    {%- endfor -%}
                  </div>

                </div>
                <!--=======  shop product small image gallery  =======-->
              </div>
          	  {% endif %}
              
            </div>
			<div class="{% if section.settings.product_thumnail_type == 'vertical_mode' %} col-xl-6 col-lg-6 col-md-6 {% else %} col-lg-6 col-md-6 {% endif %}  {% if section.settings.product_sidebar_enable %} col-xl-5 col-lg-5 {% endif %} product-shop">
             
              {% form 'product', product, id: "AddToCartForm", class: "product-content-inner", novalidate: 'novalidate' %} 
              <div class="shop-product__description">
                
                {%- if section.settings.product_review_enable -%}
                <div class="shop-product__rating mb-15">
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                  </div>
                </div>
                {%- endif -%}
                
                <div class="shop-product__title mb-15">
                  <h2 id="popup_cart_title">{{ product.title }}</h2>
                </div>
                
          
                <div class="shop-product__price mb-30">
                  {%- if product.compare_at_price_max > product.price -%}
                  <span class="main-price discounted" id="ComparePrice">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
                  {%- endif -%}
                    <span class="discounted-price" id="ProductPrice">{{ product.selected_or_first_available_variant.price | money }}</span>
                </div>
                

                {%- unless section.settings.product_description_handle == 'without_description' -%}
                {%- if section.settings.product_description_handle == 'full_description' -%}
                <div class="shop-product__short-desc mb-50">
                  {{ product.description }}
                </div>
                {%- elsif section.settings.product_description_handle == 'short_description' -%}
                <div class="shop-product__short-desc mb-50">
                  {%- if product.description contains '[short_description]' -%} 
                  {%- assign short_description_first = product.description | split:'[/short_description]' | first -%}
                  {%- assign short_description_final = short_description_first | split:'[short_description]' | last -%}
                  {{ short_description_final }}
                  {%- else -%}
                  {%- assign truncatewords_count = section.settings.truncatewords_count_handle -%}
                  {{ product.description | strip_html | truncatewords: truncatewords_count, "" | split: '[short_description]' | first | split: '[product_description]' | first | split: '[new_products]' | first | split: '[product_video]' | first | split: '[affiliate_link]' | first | split: '[countdown]' | first }}
                  {%- endif -%}
                </div>
                {%- endif -%}
                {%- endunless -%}


                {%- if product.description contains '[countdown]' and settings.countdown_timer_enable -%}
                {%- assign count_down_first = product.description | split:'[/countdown]' | first -%}
                {%- assign count_down_final = count_down_first | split:'[countdown]' | last -%}
                <div class="product_countdown mb-50 ">
                  <div data-countdown="{{ count_down_final }}"></div> 
                </div>
                {%- endif -%}
                
                

                {%- include 'product-variant' -%}
                
                {%- if lezadaSettings.size_guide_enable or lezadaSettings.shipping_guide_enable or lezadaSettings.ask_product_enable -%}
                <div class="product_additional_information mb-30 mt-10">
                  {%- if lezadaSettings.size_guide_enable -%}
                  <button type="button" data-toggle="modal" data-target="#size_guide">
                    <i class="ti-ruler"></i> {{ section.settings.size_guide | default: 'Size Guide' }}
                  </button>
                  {%- endif -%}
                  
                  {%- if lezadaSettings.shipping_guide_enable -%}
                  <button type="button" data-toggle="modal" data-target="#shipping_policy">
                     <i class="ti-truck"></i> {{ section.settings.shipping_guide | default: 'Shipping' }}
                  </button>
                  {%- endif -%}
                  
                  {%- if lezadaSettings.ask_product_enable -%}
                  <button type="button" data-toggle="modal" data-target="#ask_about_product">
                    <i class="ti-email"></i>{{ section.settings.ask_about_product | default: 'Ask About This product' }}
                  </button>
                  {%- endif -%}
                </div>
                {%- endif -%}

                <!--=======  shop product quantity block  =======-->
              
                {%- if product.description contains '[affiliate_link]' -%}
                  <div class="affiliate_btn mb-50">
                    {%- include 'affiliate-product-cart-action' -%}
                  </div>
                {%- else -%}
                  <div class="shop-product__block shop-product__block--quantity mb-40">
                    <div class="shop-product__block__title">{{ 'products.product.quantity' | t }}: </div>
                    <div class="shop-product__block__value">
                      <div class="pro-qty d-inline-block mx-0 pt-0">
                        <input type="text" name="quantity"  value="1">
                      </div>
                    </div>
                  </div>

                  <div class="btn_groups-cart-buy">
                      <div class="shop-product__buttons">
                        {% include 'product-cart-action' %}
                      </div>

                      {%- if product.available -%}
                        <div class="dynmiac_checkout--button   {% if section.settings.check_term_condtion %} disabled {% endif %}">
                          <div class="checkout_button">
                            {{ form | payment_button }}
                          </div>
                        </div>
                      {%- endif -%}
                  </div>

                  <div class="shop-product__buttons mb-30">
                    {%- if settings.wishlist_enable and section.settings.wishlist_enable_product -%}
                      <div class="product_inner_wishlist">
                        {% include 'wishlist-button-3' %}
                      </div>
                    {%- endif -%}
                  </div>
                  
                  {%- if product.available -%}
                    <div class="dynmiac_checkout--button   {% if section.settings.check_term_condtion %} disabled {% endif %}">
                      {%- if section.settings.check_term_condtion -%}
                        <input type="checkbox" id="buy-now-check" value="1">
                        <label for="buy-now-check">{{ section.settings.check_term_text }}</label>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                {%- endif -%}

                
                {%- if section.settings.payment_option_enable -%}
                <div class="custom-payment-options">
                  {%- if section.settings.payment_information != '' -%}
                  <div>
                    {{ section.settings.payment_information }}
                  </div>
                  {%- endif -%}
                  {%- if section.settings.payment_image -%}
                  <div class="safe_card_img">
                    <img src="{{ section.settings.payment_image | img_url: '1024x1024' }}" alt="{{ section.settings.payment_image.alt }}">
                  </div>
                  {%- endif -%}

                  {%- if section.settings.payment_icon_enable -%}
                  {% include 'payment-icon' %}
                  {%- endif -%}
                </div>
                {%- endif -%}

               

                <!--=======  other info table  =======-->
                
                {% if  section.settings.product_sku_enable or section.settings.product_tag_enable or section.settings.social_share_enable or section.settings.product_vendor_enable %}

                <div class="quick-view-other-info pb-0">
                  
                  <table>
                    
                    {%- if current_variant.sku.size > 0 and section.settings.product_sku_enable -%}
                    <tr class="single-info">
                      <td class="quickview-title product-sku">{{ section.settings.product_sku_title }} </td>
                      <td class="quickview-value variant-sku">{{ current_variant.sku }}</td>
                    </tr>

                    {%- endif -%}
                    
                    
                    {%- if current_variant.barcode.size > 0 and section.settings.product_barcode_enable -%}
                    <tr class="single-info">
                      <td class="quickview-title">{{ section.settings.barcode_label }}  </td>
                      <td class="quickview-value variant-barcode">{{ current_variant.barcode }}</td>
                    </tr>
                    {%- endif -%}
                    
                    
                      {% if section.settings.product_vendor_enable and product.vendor != blank %}
                      <tr class="single-info">
                        <td class="quickview-title product-sku">{{ section.settings.vendor_title | default: 'vendor: ' }} </td>
                        <td class="quickview-value">  {{ product.vendor }} </td>
                      </tr>
                      {% endif %}


                      {% if section.settings.product_type_enable  and product.type != blank %}
                      <tr class="single-info">
                        {% assign types_list_limit = section.settings.types_list_limit_hanlde %}
                        <td class="quickview-title product-sku">{{ section.settings.type_title | default: 'Type: ' }} </td>
                        <td class="quickview-value">  {{ product.type }} </td>
                      </tr>
                      {% endif %}
                    
                    {% if section.settings.social_share_enable %}
                    <tr class="single-info">
                      <td class="quickview-title">{{ section.settings.social_share_title }} </td>
                      <td class="quickview-value">
                         {%- include 'social-share-2' -%}
                      </td>
                    </tr>
                    {% endif %}
                  </table>
                </div>
                {% endif %}
                
                 </div>
			  {% endform %}  
              
            </div>
           
            
            {% if section.settings.product_sidebar_enable %}
             <div class="col-xl-3 col-lg-3">
               	 {%- include 'collection-sidebar' -%}
             </div>
          	{% endif %}
          </div>
        </div>
        <!--=======  End of shop product content  =======-->
      </div>
    </div>
  </div>
</div>
{%- include 'size-guide-popup' -%}
{%- include 'shipping-policy-popup' -%}
{%- include 'contact-popup' -%}
{%- include 'page_spacing' -%}

{% if product.metafields.featureSection.show %}
<div class="product-feature-section">
   <div class="container">
      <h2 class="product-details-title">Features</h2>
      <div class="row">
        <div class="feature-img-wrap col-md-5">
              <img src="{{ product.images.last | product_img_url: 'master' }}">
        </div>
        <div class="feature-content col-md-7">
            <ul class="feature-list">
              <li>
                <span class="icon-wrap"><img src="https://cdn.shopify.com/s/files/1/1241/3290/files/Group_1.png?v=1600706832"></span>
                <span class="label">China Automatic Movement</span>
              </li>
              <li>
                <span class="icon-wrap"><img src="https://cdn.shopify.com/s/files/1/1241/3290/files/Group_141.png?v=1600709284"></span>
                <span class="label">STAINLESS STEEL WATCH CASE</span>
              </li>
              <li>
                <span class="icon-wrap"><img src="https://cdn.shopify.com/s/files/1/1241/3290/files/watch-strap_1.png?v=1600709284"></span>
                <span class="label">Genuine leather strap</span>
              </li>
              <li>
                <span class="icon-wrap"><img src="https://cdn.shopify.com/s/files/1/1241/3290/files/wave_1_1.png?v=1600709284"></span>
                <span class="label">WATER RESISTANT TO 30 METERS</span>
              </li>
              <li>
                <span class="icon-wrap"><img src="https://cdn.shopify.com/s/files/1/1241/3290/files/time_1.png?v=1600709284"></span>
                <span class="label">Day/Night Indicator</span>
              </li>
              <li>
                <span class="icon-wrap"><img src="https://cdn.shopify.com/s/files/1/1241/3290/files/guarantee_1.png?v=16007092842"></span>
                <span class="label">lifetime Warranty</span>
              </li>
              <li>
                <span class="icon-wrap"><img src="https://cdn.shopify.com/s/files/1/1241/3290/files/manual_1.png?v=1600709490"></span>
                <span class="label">download product user manual</span>
              </li>
              
            </ul>
        </div>
      </div>
   </div>
</div>
{% endif %}



{% unless product == empty %}
<script>
  var var_array = {
    {% for variant in product.variants %}
    "{{variant.id}}":"{{variant.inventory_quantity}}",
    {%endfor%}
  },
  var_num = '',
  selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: '{{ shop.money_format }}',
      variant: variant,
      selector: selector
    });
    
    var addToCartBtn = $('#AddToCart');
    if(variant){
      // addToCartbtn
      if (variant.available){
        if (variant.inventory_management!=null) {
          for( variant_id in var_array){
            if(variant.id == variant_id ){
              var_num = var_array[variant_id];
              var inventoryQuantity = parseInt(var_num);
            }
            if(inventoryQuantity > 0){
              // We have a valid product variant, so enable the submit button
              addToCartBtn.removeClass('disabled').removeAttr('disabled');
            }else{
              addToCartBtn.removeClass('disabled').removeAttr('disabled');
            }
          }
        } else {
          addToCartBtn.removeClass('disabled').removeAttr('disabled');
        }
      }else{
        addToCartBtn.val('soldout').addClass('disabled').attr('disabled', 'disabled');
      };
	// Current variant select
    var form = $('#' + selector.domIdPrefix).closest('form');
    for (var i=0,length=variant.options.length; i<length; i++) {
      var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');

      if (radioButton.size()) {
        radioButton.get(0).checked = true;
      }
    };
      // Barcode and Sku
      if (variant.barcode) {
        $('.variant-barcode').text(variant.barcode);
      }
      $('.variant-sku').text(variant.sku);   
  }else {
    addToCartBtn.val('soldout').addClass('disabled').attr('disabled', 'disabled');
    // Barcode and Sku
    $('.variant-barcode').text("");
    $('.variant-sku').text("");
  };
    
  

  /*begin variant image*/
  $(document).ready(function(){
    if (variant && variant.featured_image) {
      var originalImage = $("img[id|='product-featured-image']");
      var newImage = variant.featured_image;
      var element = originalImage[0];

      Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
        jQuery('.product_media_nav img').each(function() {
          var grandSize = $(this).attr('src').split('?')[0].replace('compact','1024x1024');

          newImageSizedSrc = newImageSizedSrc.split('?')[0];

          if(grandSize === newImageSizedSrc) {
            var item = $(this).closest('.pro_gallery_item');

            item.trigger('click');
            return false;
          }
        });
      });
    
    };
  });

  };
  
  $(function($) {

    if($('#product-selectors').length > 0){
      new Shopify.OptionSelectors('product-selectors', {
        product: {{ product | json }},
        onVariantSelected: selectCallback,
        enableHistoryState: true
      });
    }
    
    {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
    {% endif %}

    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
    $('.selector-wrapper').hide();
    {% endif %}

  });

</script>

{% endunless %}




{% schema %}
  {
    "name": "Product",
    "settings": [
		  {
              "type": "header",
              "content": "Container Width",
			  "info": "--------"
          },
		  {
             "type":  "radio",
             "id":    "container_width",
             "label": "Container Width",
             "options": [
               { "value": "container", "label": "Container" },
               { "value": "fluid", "label": "Full Width" }
             ],
             "default":   "container"
          },
		  {
            "type": "header",
            "content": "Product Thumbnail Type",
			"info": "--------"
          },
          {
              "type": "radio",
              "id": "product_thumnail_type",
              "label": "Product Thumbani Mode -",
              "options": [
                  {
                      "label": "Left Verticle Mode",
                      "value": "vertical_mode"
                  },
                  {
                      "label": "Bottom Horizontal Mode",
                      "value": "horizontal_mode"
                  }
              ],
              "default": "horizontal_mode"
          },
		  {
            "type": "header",
            "content": "Media",
            "info": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
          },
		 {
          "type": "header",
            "content": "Product Sidebar",
			"info": "--------"
          },
          {
            "type": "checkbox",
            "id": "product_sidebar_enable",
            "label": "Product Sidebar Enable",
            "default": false		
          },
        {
          "type": "header",
          "content": "Product Navigation",
		  "info": "--------"
        },
		{
            "type": "checkbox",
            "id": "product_navigation_enable",
            "label": "Product Navigation Enable",
            "default": true		
        },
        {
          "type": "radio",
          "id": "prev_next",
          "label": "Product Navigation Type",
            "options": [
              {
                "label": "Without Image",
                "value": "without_image"
              },
              {
                "label": "With Image",
                "value": "with_image"
              }
            ],
          "default": "with_image"
        },
		{
          "type": "header",
          "content": "Product Video",
		  "info": "--------"
      	},
		{
          "type": "checkbox",
          "id": "product_video_enable",
          "label": "Product Video Enable",
          "default": true		
      	},
		{
          "type": "header",
          "content": "Product Zoom",
		  "info": "--------"
      	},
		{
          "type": "checkbox",
          "id": "product_zoom_enable",
          "label": "Product Zoom Enable",
          "default": true		
      	},
		{
          "type": "header",
          "content": "Image Popup",
		  "info": "--------"
      	},
		{
          "type": "checkbox",
          "id": "product_popup_enable",
          "label": "Product Popup Enable",
          "default": true	
      	},
		{
          "type": "header",
          "content": "Product Review",
		  "info": "--------"
      	},
		{
          "type": "checkbox",
          "id": "product_review_enable",
          "label": "Show Product Review",
          "default": true,
		  "info": "[Install App](https://apps.shopify.com/product-reviews?surface_detail=product+review&surface_inter_position=1&surface_intra_position=7&surface_type=search)"
      	},
		{
          "type": "header",
          "content": "Stock Countdown & Sales pop up",
		  "info": "--------"
      	},
		{
          "type": "paragraph",
          "content": "[Click Here](https:\/\/apps.shopify.com\/sales-pop-master) for Install Stock Countdown app"		
      	},
		{
          "type": "header",
          "content": "Product Description",
		  "info": "--------"
      	},
		{
          "type": "radio",
          "id": "product_description_handle",
          "label": "Description Handle",
		  "options":[
				{
                    "label": "Full Description",
                    "value": "full_description"
                },
                {
                    "label": "Short Description",
                    "value": "short_description"
                },
                {
                    "label": "Without Description",
                    "value": "without_description"
                }
			],
			"default": "short_description"
      	},
		{
          "type": "number",
          "id": "truncatewords_count_handle",
          "label": "Description Word Count",
          "default": 35,
		  "info": "If 'Short Description' is selected and the shortcode is not used, then it will be applicable"
      	},
		{
          "type": "header",
          "content": "Wishlist",
		  "info": "--------"
        },
		{
          "type": "checkbox",
          "id": "wishlist_enable_product",
          "label": "Wishlist Enable ?",
          "default": true
      	},
		{
            "type": "header",
            "content": "Product Additional Infromation",
			"info": "--------"
        },
		{
          "type": "paragraph",
          "content": "Size Guide"
      	},
		{
          "type": "checkbox",
          "id": "size_guide_enable",
          "label": "Enable Size Guide",
          "default": true
      	},
		{
          "type": "text",
          "id": "size_guide",
          "label": "Size Guide Label",
          "default": "Size Guide"		
      	},
		{
          "type": "page",
          "id": "sizeguidhandle",
          "label": "Select Page for Size Guide",
          "info": "[Create a page](\/admin\/pages\/new)"
        },	
		{
          "type": "paragraph",
          "content": "Shipping Guide"
      	},
		{
          "type": "checkbox",
          "id": "shipping_guide_enable",
          "label": "Enable Shipping Guide",
          "default": true
      	},
		{
          "type": "text",
          "id": "shipping_guide",
          "label": "Shipping Guide Label",
          "default": "Shipping"		
      	},
		{
          "type": "page",
          "id": "shipping_page_handle",
          "label": "Select Page for Shipping",
          "info": "[Create a page](\/admin\/pages\/new)"
        },
		{
          "type": "paragraph",
          "content": "Ask About Product"
      	},
		{
          "type": "checkbox",
          "id": "ask_product_enable",
          "label": "Enable Ask About Product",
          "default": true
      	},
		{
          "type": "text",
          "id": "ask_about_product",
          "label": "Ask About Product Label",
          "default": "Ask About This product "		
      	},
		{
          "type": "text",
          "id": "ask_about_prod_title",
          "label": "Ask About Product Popup Title",
          "default": "Have a question?"		
      	},
		{
          "type": "text",
          "id": "send_btn_text",
          "label": "Popup Send Button",
          "default": "Send"		
      	},
		{
  		   "type": "paragraph",
          "content": "Name Field"
      	},
		{
          "type": "text",
          "id": "name_placeholder",
          "label": "Name Placeholder",
          "default": "Name *"		
      	},
		{
  		   "type": "paragraph",
          "content": "Email Field"
      	},
		{
          "type": "text",
          "id": "email_placeholder",
          "label": "Email Placeholder",
          "default": "Email *"		
      	},
		{
  		   "type": "paragraph",
          "content": "Phone Field"
      	},
		{
          "type": "text",
          "id": "phone_placeholder",
          "label": "Phone Placeholder",
          "default": "Phone *"		
      	},
		{
  		   "type": "paragraph",
          "content": "URL Field"
      	},
		{
          "type": "text",
          "id": "prod_url_placeholder",
          "label": "Product URL Placeholder",
          "default": "Reference URL *"		
      	},
		{
  		   "type": "paragraph",
          "content": "Message Body"
      	},
		{
          "type": "text",
          "id": "body_placholder",
          "label": "Message Body",
          "default": "Write Message *"		
      	},
		{
          "type": "header",
          "content": "Dynamic Checkout Buttons",
		  "info": "--------"
      	},
		{
          "type": "checkbox",
          "id": "dynamic_checkout_button_enable",
          "label": "Enable Dynamic Checkout Buttons",
          "default": true
      	},
		{
          "type": "checkbox",
          "id": "check_term_condtion",
          "label": "Terms & Condition Button Enable",
          "default": true
      	},
	   {
          "type": "textarea",
          "id": "check_term_text",
          "label": "Check terms and conditions Agree Text",
          "default": "I agree with the terms and conditions"		
      	},
		{
          "type": "header",
          "content": "Product SKU",
		  "info": "--------"
      	},
		{
          "type": "checkbox",
          "id": "product_sku_enable",
          "label": "Show Product SKU",
          "default": true		
      	},
		{
          "type": "text",
          "id": "product_sku_title",
          "label": "SKU Title",
          "default": "SKU:"		
      	},
		{
          "type": "header",
          "content": "Product Barcode",
		  "info": "--------"
      	},
		{
          "type": "checkbox",
          "id": "product_barcode_enable",
          "label": "Show Product Barcode",
          "default": true		
      	},
		{
          "type": "text",
          "id": "barcode_label",
          "label": "Barcode Title",
          "default": "Barcode:"		
      	},
		{
          "type": "header",
          "content": "Product Vendor",
		  "info": "--------"
      	},
		{
          "type": "checkbox",
          "id": "product_vendor_enable",
          "label": "Show Product Vendor",
          "default": true		
      	},
		{
          "type": "text",
          "id": "vendor_title",
          "label": "Vendor Title",
          "default": "Vendor:"		
      	},
		{
          "type": "range",
          "id": "vendors_list_limit_hanlde",
          "min": 1,
          "max": 20,
          "step": 1,
          "label": "Verdor Limit",
          "default": 5
        },
		{
          "type": "header",
          "content": "Product Type",
		  "info": "--------"
      	},
		{
          "type": "checkbox",
          "id": "product_type_enable",
          "label": "Show Product Type",
          "default": true		
      	},
		{
          "type": "text",
          "id": "type_title",
          "label": "Type Title",
          "default": "Type:"		
      	},
		{
          "type": "range",
          "id": "types_list_limit_hanlde",
          "min": 1,
          "max": 20,
          "step": 1,
          "label": "Type Limit",
          "default": 5
        },
		{
          "type": "header",
          "content": "Social Share Option",
		  "info": "--------"
      	},
		{
          "type": "checkbox",
          "id": "social_share_enable",
          "label": "Show Social Share",
          "default": true
      	},
		{
          "type": "text",
          "id": "social_share_title",
          "label": "Social Share Title",
          "default": "Share:"
      	},
		{
          "type": "header",
          "content": "Payment Option",
		  "info": "--------"
      	},
		{
          "type": "checkbox",
          "id": "payment_option_enable",
          "label": "Show Payment Option",
          "default": true
      	},
		{
          "type": "richtext",
          "id": "payment_information",
		  "label": "Information",
          "default": "<p>Guaranteed safe checkout</p>"
      	},
		{
          "type": "image_picker",
          "id": "payment_image",
          "label": "Payment Image"
      	},
		{
          "type": "checkbox",
          "id": "payment_icon_enable",
          "label": "Show Payment icon",
          "default": true
      	}
	],
	"blocks":[
		{
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       },
		{
          "type": "search",
          "name": "Search",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Search"
            }
          ]
       },
	   {
          "type": "category",
          "name": "Category",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Categories"
            },
            {
              "type": "range",
              "id": "categories_list_limit_hanlde",
              "min": 5,
              "max": 20,
              "step": 1,
              "label": "Category Limit",
              "default": 5
            }
          ]
       },
	   {
          "type": "vendor",
          "name": "Vendor",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Vendors"
            },
            {
              "type": "range",
              "id": "vendors_list_limit_hanlde",
              "min": 5,
              "max": 20,
              "step": 1,
              "label": "Verdor Limit",
              "default": 5
            }
          ]
       },
	   {
          "type": "type",
          "name": "Type",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Products Types"
            },
            {
              "type": "range",
              "id": "types_list_limit_hanlde",
              "min": 5,
              "max": 20,
              "step": 1,
              "label": "Type Limit",
              "default": 5
            }
			
          ]
       },
	   {
          "type": "color",
          "name": "Color",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Color"
            },
            {
              "type": "textarea",
              "id": "color_picker",
              "label": "Put your color name",
              "default": "red, green, blue, yellow, white, gold, gray, magenta, maroon, navy, purple, violet, black, pink, orange, silver",
              "info": "Ex: red, green, blue [More Color Name](https:\/\/www.w3schools.com\/colors\/colors_names.asp)"
            },
            {
              "type": "range",
              "id": "colors_list_limit_hanlde",
              "min": 5,
              "max": 20,
              "step": 1,
              "label": "Color Limit",
              "default": 10
            }
          ]
       },
	   {
          "type": "size",
          "name": "Size",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Size"
            },
            {
              "type": "textarea",
              "id": "size_picker",
              "label": "Put your size name",
              "default": "s, m, l, xl, xxl",
              "info": "Ex: s, m, l, xl, xxl"
            },
            {
              "type": "range",
              "id": "size_list_limit_hanlde",
              "min": 5,
              "max": 20,
              "step": 1,
              "label": "Size Limit",
              "default": 5
            }
          ]
       },
	   {
          "type": "tag",
          "name": "Tag",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Tags"
            },
            {
              "type": "range",
              "id": "tags_list_limit_hanlde",
              "min": 5,
              "max": 20,
              "step": 1,
              "label": "Size Limit",
              "default": 15
            }
          ]
       },
	   {
          "type": "menu",
          "name": "Menu",
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Custom Menu"
            },
			{
              "type": "link_list",
              "id": "menu_handle",
              "label": "Menu",
              "info": "Dropdown menu applicable"
            }
          ]
       },
	   {
          "type": "banner",
          "name": "Banner",
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Banner"
            },
            {
              "type": "image_picker",
              "id": "banner_image",
              "label": "Image"
            },
			{
              "type": "url",
              "id": "banner_image_url",
              "label": "URL"
            }
          ]
        },

		{
          "type": "amazon_payments",
          "name": "Amazon Payments",
		  "limit": 1
        },
		{
          "type": "american_express",
          "name": "American Express",
		  "limit": 1
        },
		{
          "type": "apple_pay",
          "name": "Apple Pay",
		  "limit": 1
        },
		{
          "type": "bitcoin",
          "name": "Bitcoin",
		  "limit": 1
        },
		{
          "type": "dankort",
          "name": "Dankort",
		  "limit": 1
        },
		{
          "type": "diners_club",
          "name": "Diners Club",
		  "limit": 1
        },
		{
          "type": "discover",
          "name": "Discover",
		  "limit": 1
        },
		{
          "type": "dogecoin",
          "name": "Dogecoin",
		  "limit": 1
        },
		{
          "type": "dwolla",
          "name": "Dwolla",
		  "limit": 1
        },
		{
          "type": "forbrugsforeningen",
          "name": "Forbrugsforeningen",
		  "limit": 1
        },
		{
          "type": "google_pay",
          "name": "Google Pay",
		  "limit": 1
        },
		{
          "type": "jcb",
          "name": "Jcb",
		  "limit": 1
        },
		{
          "type": "klarna",
          "name": "Klarna",
		  "limit": 1
        },
		{
          "type": "litecoin",
          "name": "Litecoin",
		  "limit": 1
        },
		{
          "type": "maestro",
          "name": "Maestro",
		  "limit": 1
        },
		{
          "type": "master",
          "name": "Master",
		  "limit": 1
        },
		{
          "type": "paypal",
          "name": "Paypal",
		  "limit": 1
        },
		{
          "type": "shopify_pay",
          "name": "Shopify Pay",
		  "limit": 1
        },
		{
          "type": "sofort",
          "name": "Sofort",
		  "limit": 1
        },
		{
          "type": "visa",
          "name": "Visa",
		  "limit": 1
        }
	 ]
  }
{% endschema %}